name: Check Bezirk Horgen websites

on:
  schedule:
    - cron:  '10/30 5-21 * * *' # every 30min
  workflow_dispatch:

jobs:
  notify_bez_horgen_websites:
    uses: metaodi/website-monitor/.github/workflows/check_websites.yml@main
    with:
      csv-path: csv/bezirk_horgen.csv
    secrets:
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_BEZ_HORGEN_CHAT_ID }}
      TELEGRAM_ERROR_CHAT_ID: ${{ secrets.TELEGRAM_ERROR_CHAT_ID }}
      WIREGUARD_CONFIG: ${{ secrets.WIREGUARD_CONFIG }}

