name: Check Thalwil websites

on:
  schedule:
    - cron:  '*/30 5-21 * * *' # every 30min
  workflow_dispatch:

jobs:
  notify_thalwil_websites:
    uses: metaodi/website-monitor/.github/workflows/check_websites.yml@main
    with:
      csv-path: csv/thalwil.csv
    secrets:
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_TO }}
      TELEGRAM_ERROR_CHAT_ID: ${{ secrets.TELEGRAM_ERROR_CHAT_ID }}
      WIREGUARD_CONFIG: ${{ secrets.WIREGUARD_CONFIG }}

